.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 8px;
  font-family: 'font-2' !important;
  font-size: 18px;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }

  &__column {
    flex: 1 1 300px;
    margin: 20px;

    h4 {
      margin-bottom: 10px;
      font-weight: bold;
      color: var(--white-color);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 6px 0;

        a {
          color: var(--white-color);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      margin: 10px 0;
      line-height: 1.4;
       color: var(--white-color);
    }
  }

  &__logo {
    max-width: 120px;
    margin-bottom: 15px;
  }

  &__social {
    margin-top: 10px;

    a {
      color: var(--white-color);
      font-size: 16px;
      margin-right: 10px;
      display: inline-block;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  &__form {
    display: flex;
    margin-bottom: 20px;

    input {
      padding: 10px;
      border: 2px solid var(--white-color);
      flex: 1;
      border-radius: 3px 0 0 3px;
      outline: none;
      color: var(--white-color);
    }

    button {
      background-color: var(--secondary-color);
      border: none;
      color: var(--white-color);
      padding: 10px 16px;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }
  }

  &__bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
    font-size: 12px;

    a {
      color: var(--white-color);
      text-decoration: underline;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}
